$button_normal: #fff;           //  普通按钮 正常
$button_normal_hover: #1b9de8;  //  普通按钮 hover
$button_normal_border: #dddddd; // 普通按钮 边框

$button_disable_border: #d1dbe5;       // 禁止
$button_disable_color: #bfcbd9;        // 禁止字体颜色
$button_disable_background_color: #eef1f6; // 禁止背景色


$button_primary:#1b9de8;         // 主要按钮 正常
$button_text: #1b9de8;           // 字体按钮 颜色
$button_text_hover: #4db3ff;     // 字体按钮 hover
